html {
    height: 100%;
    width: 100%;
}

body {
  background-image: url("images/fundo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navegar {
    margin-bottom: 2%;
}

.nossalogo {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 100%;
}

.logo {
    width: 80%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.servicos {
    padding-top: 5%;
    text-align: center;
    /*background-color: rgb(63,63,63,0.5); */
}

.user {
    background-color: rgb(255, 255, 255, 0.8);
    width: 80%;
    border-radius: 10px;
    margin: 3%;
    padding: 2%;
    display: inline-block;
    text-align: justify;
}

.foto {
    border-radius: 100% !important;
    width: 100px;
    height: 100px !important;
    display: inline-block;
}

.formulario {
    background-color: rgba(47, 79, 79);
    border-radius: 20px;
}

.etiquetaCampo {
    display: block;
}

.localizacao {
    border: 1px solid black;
    border-radius: 5px;
}

footer {
    background-color: rgb(63, 63, 63);
}